.homepage button {
    margin: 0 auto;
    border: none;
    font-size: 20px;
    padding: 1em;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px #a0a0a0;


}



.homepage ul {
    padding: 0;
    margin: 0;
}

.buttons-aside-item input[type="file"] {
    opacity: 0;
}
            
.aside-item-ul{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.aside-item-ul li{
    width: 98%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid #9f9f9f;
    box-shadow: 0 0 10px rgb(143, 143, 143);
    font-size: 13px;
}

.buttons-aside-item{
    padding: 0;
}

.aisde-item picture {
    width: 100px;
    height: 200px;
}
.aside-item img{
    width: 100%;
}

.buttons-aside-item button {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.aside-item-ul .buttons-aside-item {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1em;
}
.labels-aside {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.labels-aside label{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.homepage a{
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-weight: bolder;
}

.homepage header{
    width: 100%;
    text-align: center;
}

.homepage main {

    height: 450px;
    display: flex;
    width: 90%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.homepage footer{
    position: absolute;
    bottom: 10%;
    width: 100%;
}
.homepage footer p{
    margin: 10px auto;
    text-align: center;
}
