@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Outfit';
}
h1:nth-child(1) {
    text-align: center;
    font-size: 30px;
}

li{
    list-style: none;

    width: 98%;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1em;
}

.dark{
    background-image: linear-gradient(750deg, #1a1a1a, #2e2e2e);
    position: absolute;
}

.dark h1 {
    color: #EFF6EE;
    margin: 0;
}

.dark li {
    outline: 1px groove #5e5e5e;
    background-image: linear-gradient(780deg, #272727, #393939 );
}

.dark ul{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 3em;

}

.dark label{
    display: flex;
    flex-direction: column;
}

.dark textarea{
    width: 100%;
    box-sizing: border-box;

    border-radius: 5px;
    border: 1px solid #8b8b8b;

    background-color: #1c1c1c;
    color: #989898;
    margin-top: 5px;
}

.dark textarea:active, .dark textarea:focus {
    outline: .5px solid #4eff37;
}

.dark input[type="file"] {
    opacity: 0;
}
.dark input[type="radio"] {
    accent-color: #4eff37;
}
.dark li span{
    color: #8b8b8b;
}
.dark li p{
    color: #EFF6EE;
    text-align: center;
}


.dark button {
    border: none;
    width: 95%;
    border-radius: 20px;

    background-image: linear-gradient(780deg, #272727, #414141 );
    
    border: 1px groove #8b8b8b;
    color: #4eff37;
    font-weight: bolder;

    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-block: 2em;
    font-size: 15px;
    padding: 10px;

}

.dark figure {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

.dark figure img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

#changer{
    width: 50px;
    height: 50px;
    z-index: 1;
    background-color: #474747;
    border: 1px groove #8b8b8b;
    color: #a7a7a7;
    box-shadow: 0 0 10px black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    border-radius: 100%;

}


#questions {
    position: absolute;
    left: 5px;
    bottom: 0;
    font-size: 10px;
    color: #a7a7a7;
}
#Inser-File {
    text-align: left;
}

#file-input-label{
    margin-top: 10px;
    font-size: 25px;
    text-align: right;
}


.light{
    background-color: #EFF6EE;
}

